@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="importmap">
        {
        "imports": {
        "browser-fs-access": "https://unpkg.com/browser-fs-access@0.33.0/dist/index.modern.js",
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
        "hello-world": "@Url.Content("~/js/hello-world.js")",
        "config": "@Url.Content("~/config")"
        }
    }
    </script>

    <title>@ViewData["Title"] - asp_containerized</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a>asp_containerized</a>

                <div>
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - asp_containerized - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>